.pairList {
  contain: layout inline-size style;
}


@container (min-width: 0px) {
  .pairItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #334;
    cursor: pointer;
    color: #ddd;
    height: 44px;
  }

  .theme-day .pairItem {
    color: #333;
    border-bottom-color: #d0d0d2;
  }

  .pairItemPriceWrapper {
    font-size: .8em;
    text-align: right;
  }

  .red {
    color: #f44336;
  }

  .green {
    color: #4caf50;
  }

  .pairItem24h {
    color: #fff8;
  }

  .theme-day .pairItem24h {
    color: #0008;
  }
  .pairItemControls {
    display: none;
  }

  .pairItem:hover {
    background: #eef2;
  }

  .pairItem:hover .pairItemControls  {
    display: inline-block;
  }

  .pairItem:hover .pairItemPriceWrapper {
    display: none;
  }

  .pairItemSymbol {
    display: flex
  }

  .pairItemName {
    font-size: .9em;
    line-height: 1.4em;
  }

  .pairItemExchange {
    display: inline-block;
    margin-right: 4px;
  }

  .withFavouritesControl:hover .pairItemExchange {
    display: none;
  }

  .pairItemFavourite {
    display: none;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .pairItem:hover .pairItemFavourite {
    display: inline-block;
  }

  .fa-star.active {
    color: #ffca00
  }

  .fa-star.inactive {
    color: #999;
  }
}