.bge_watchlist_selector {
  position: relative;
  min-width: 100px;
  z-index: 1;
}

.bge_watchlist_selector .selectorPanel {
  position: absolute;
  top: 100%; left: 0;
  min-width: 200px;
}

.bge_watchlist_selector i {
  display: inline-block;
  margin-right: 5px;
}

.bge_watchlist_selector i.fa-plus {
  margin-left: 3px;
  margin-right: 6px !important;
}

.bge_watchlist_selector button i {
  margin-right: 0;
}
