.bge_watchlists {
  position: absolute;
}

.bge_watchlists .noWatchlistsBody {
  padding: 20px;
  text-align: center;
  
}

.bge_watchlists .noWatchlistsMessage {
  color: white;
  margin-bottom: 20px;
}

.theme-day .bge_watchlists .noWatchlistsMessage {
  color: #333;
}

.bge_watchlists .exchangeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  width: 100%;
}
