.bge_watchlists {
  contain: layout inline-size style;
}

@container (min-width: 0px) {
  .no-watchlists-body {
    padding: 20px;
    text-align: center;
    
  }
  
  .no-watchlist-message {
    color: white;
    margin-bottom: 20px;
  }
}