.bge_watchlists {
  contain: layout inline-size style;
  container-name: watchlists;
}

@container watchlists (min-width: 0px) {
  .no-watchlists-body {
    padding: 20px;
    text-align: center;
    
  }
  
  .no-watchlist-message {
    color: white;
    margin-bottom: 20px;
  }

  .theme-day .no-watchlist-message {
    color: #333;
  }

  .watchlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    width: 100%;
  }
}