.bge_modal {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: #0009;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.bge_modal .box {
  background-color: #241f32;
  box-shadow: 0 0 20px #000;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.theme-day .bge_modal .box {
  background-color: #fff;
  color: #333;
}

.bge_modal .title {
  color: #ccc;
}

.theme-day .bge_modal .title {
  color: #333;
}

.bge_modal .header {
  padding: 10px;
}

.bge_modal .modalClose {
  position: absolute;
  top: 6px; right: 4px;
}

.bge_modal .confirmationModalBody {
  padding: 10px 10px 0;
  width: 300px;
}

.bge_modal .confirmationModalControls {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.bge_modal .confirmationConfirm {
  margin-inline-start: 10px;
}

